.media-object {
  text-align: center;

  @include min-screen(600px) {
    text-align: left;
  }
}

.media-object__image {
  @include min-screen(600px) {
    float: left;
    width: 5rem;
    margin: 1rem 1rem 1rem 0;
  }

  display: block;
  width: 8rem;
  margin: 1rem auto;

  border-radius: 100%;
}

.media-object {
  .follow {
    margin-top: -1rem;
  }
}