.media-object {
  text-align: center;
  
  @extend %clearfix;

  @include min-screen(600px) {
    text-align: left;
  }
  .seperator {
    &:first-child { 
      margin-top: 2rem; 
    }
    &:last-child { 
      margin-bottom: 2rem; 
    }
    @include min-screen(640px) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.media-object__image {
  @include min-screen(600px) {
    float: left;
    width: 5rem;
    margin: 1rem 1rem 1rem 0;
  }

  display: block;
  width: 8rem;
  margin: 1rem auto;

  border-radius: 100%;
}

.media-object {
  .follow {
    margin-top: -1rem;
    @include max-screen(640px) {
      // padding-bottom: 1rem;
      margin-top: 0;
    }
  }
}

.media-object {
  .fine-print {
    color: #848484;
  }
}


// hr + .content-author {
//   @include min-screen(640px) {
//     // margin-top: -1rem; 
//   }
// }

// .content-author + hr { 
//   // position: relative;
//   clear: left;
//   @include min-screen(640px) {
//     // margin-top: -1rem; 
//   }
//   // z-index: 2;
// }

// .seperator {

// }

// .seperator--tight {
//   padding-top: 1rem;
//   padding-bottom: 1rem;
// }