.navigation {
  ul {
    list-style-type: none;
  }
}

.navigation--primary {
  height: 5rem;
  display: table-cell;
  vertical-align: middle;
  a { 
    margin: 0 0.5rem; 
    &:first-child {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
}

.navigation--secondary {
  a {
    margin: 0 0.5rem;
  }
}