/* CONFIGURATION */

// Settings --------------------------------------------------------------
// Grid --------------------------------------------------------------

$total-cols         : 16;
$col-width          : 40px;
$gutter-width       : 20px;
$side-gutter-width  : 10px;


/* Bodytext font */
$font: "ff-meta-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "ff-meta-web-pro", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;