_assets
.sass-cache
.DS_Store
.bundle
_site
_bower_components/
node_modules/
app/_includes/.temp/
.temp/
app/assets/javascripts/
app/assets/stylesheets/
app/assets/css/
app/assets/js/

Gemfile.lock
.publish/

/assets/stylesheets/main.css
