---
layout: base
title: Archive
permalink: /archive/
redirect_from: "archive.html"

sitemap:
  priority: 0.7
  changefreq: 'monthly'
---

<div class="media-window is-full-width" style="background-image:url(/images/archive-3.jpg);">
  
  <section class="media-window__content">
    <div class="container">
      <h1 class="media-window__title">ARCHIVE</h1>
      <h3 class="media-window__subtitle subtitle">Explore the archives.</h3>
    </div>
  </section>
</div>


<div class="container">

  <h2 class="archive-header">Articles</h2>

  <section class="posts current">
    <ul class="list-short">

    {% for post in site.posts %}
    {% unless post.draft or post.path contains '_posts/archive' %}
      <li class="list-short__item">
          <time class="post__date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d %B, %Y" }}</time>
          <h3 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </li>
    {% endunless %}
    {% endfor %}

    </ul>
  </section>

  <h3>No longer maintained</h3>

  <section class="posts archived">
    <ul class="list-short">

    {% for post in site.posts %}
    {% if  post.path contains '_posts/archive' %}
      <li class="list-short__item">
          <time class="post__date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d %B, %Y" }}</time>
          <h4 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
      </li>
    {% endif %}
    {% endfor %}
    </ul>
  </section>

</div>

