<footer class="site-footer">
  <div class="container">

    &copy; {{ site.time | date: "%Y" }} 

    <nav class="navigation navigation--horizontal navigation--secondary navigation--spacer">
      <a href="/">{{ site.inc.company }}</a> &middot;
      <a target="_blank" href="http://twitter.com/kingscooty">KingScooty</a> &middot;
      <a target="_blank" href="http://www.wildflame.co.uk/">Wildflame</a>
      {% if site.inc.about_link %}
      <a href="{{ site.inc.about_link }}">About</a>
      {% endif %}
    </nav>

<!--
    <nav class="navigation navigation--horizontal navigation--secondary">
      {% if site.inc.twitter %}
      <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank" class="btn-outline">
        <i class="icon icon-twitter black"></i>
      </a>
      {% endif %}

      {% if site.inc.facebook %}
      <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank" class="btn-outline">
        <i class="icon icon-facebook black"></i>
      </a>
      {% endif %}
      
      <a href="/feed.xml" title="RSS Feed" class="btn-outline">
        <i class="icon icon-rss black"></i>
      </a>
    </nav>
-->

    <!-- <p><small>A Wildflame Studios production.</small></p> -->

  </div>
</footer>