{% if site.inc.sharing.twitter or site.inc.sharing.facebook or site.inc.sharing.gplus or site.inc.sharing.hn %}
<div class="social social--horizontal">
    {% if site.inc.sharing.twitter %}
    <div class="social__button social__twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" {% if site.inc.sharing.twitter.via %}data-via="{{ site.inc.sharing.twitter.via }}"{% endif %} data-text="{{ page.title }}" data-related="{{ site.inc.twitter }}">Tweet</a>
    </div>
    {% endif %}
    {% if site.inc.sharing.facebook %}
    <div class="social__button social__facebook">
        <div class="fb-like" data-href="{{site.url}}{{page.url}}" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
    </div>
    {% endif %}
    {% if site.inc.sharing.gplus %}
    <div class="social__button social__google">
        <div class="g-plusone" data-size="medium"></div>
    </div>
    {% endif %}
    
    {% if site.inc.sharing.hn %}
    <div class="social__button social__hnews">
        <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
    </div>
    {% endif %}
</div>
{% endif %}