---
layout: base
sitemap:
  priority: 0.9
---
<div class="home media-window media-window--large is-full-width" style="background-image:url(/images/base-images/stock-stars-home.jpg)">

  <section class="media-window__content">
    <div class="container">
      <img class="media-window__brand media-window__content__img" src="/images/base-images/creative_nightly.svg">
      <!-- <h1 class="media-window__title">{{ site.inc.title }}</h1> -->
      <!-- {% if site.inc.subtitle %}<h3 class="media-window__subtitle subtitle">{{ site.inc.subtitle }}</h3>{% endif %} -->
      <!-- {% if site.inc.colophon %}<p class="media-window__colophon">{{ site.inc.colophon }}</p>{% endif %} -->
<!--
      {% if site.inc.twitter %}
      <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
      {% endif %}
      {% if site.inc.facebook %}
      <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
      {% endif %}

      <a href="/feed.xml" title="RSS Feed">
        <i class="icon icon-rss"></i>
      </a>
-->
    </div>
  </section>
</div>

<article class="container container--2col shift-down">

{% for post in paginator.posts %}

    <section class="index-item section">
      <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
      <div>

        <div class="inline-pullout">
          <time class="date" pubdate datetime="{{ post.date | date_to_xmlschema }}" title="{{ post.date | date: "%B %d, %Y" }}"><span class="inline-pullout__el inline-pullout__el--large date__day">{{ post.date | date: "%d" }}</span> <span class="inline-pullout__el date__month">{{ post.date | date: "%B" }}</span> <span class="inline-pullout__el date__year">{{ post.date | date: "%Y" }}<span></time>
        </div>

        <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>

        {% assign content = post.excerpt | strip_newlines %}
        {% unless content == ""  %}
        {{ post.excerpt }}
        {% endunless %}

<!--
        <div class="meta">
          Written By <address>{{ post.author.name }}</address> &mdash;
          <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
-->

      </div>
      <hr>
    </section>


    {% endfor %}
</article>

<div class="container">
  <section class="pagination" style="text-align:center">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" class="btn btn-outline">‹ Newer</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" class="btn btn-outline">‹ Newer</a>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/" class="btn btn-outline">Older ›</a>
    {% endif %}
  </section>
</div>
