/* CONFIGURATION */
/* Bodytext font */
/* Font for headings */
/* Text colors */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* IMPORT CSS FILES */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 75%; }
  @media screen and (min-width: 40em) {
    html {
      font-size: 87.5%; } }
  @media screen and (min-width: 50em) {
    html {
      font-size: 93.75%; } }
  @media screen and (min-width: 64em) {
    html {
      font-size: 106.25%; } }
  @media screen and (min-width: 100em) {
    html {
      font-size: 118.75%; } }

body {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.33333rem; }
  @media screen and (min-width: 40em) {
    body {
      font-size: 1.21429rem; } }
  @media screen and (min-width: 50em) {
    body {
      font-size: 1.2rem; } }
  @media screen and (min-width: 64em) {
    body {
      font-size: 1.17647rem; } }
  @media screen and (min-width: 100em) {
    body {
      font-size: 1.15789rem; } }

a {
  -webkit-transition: color .1s, background-color .1s;
  -moz-transition: color .1s, background-color .1s;
  -ms-transition: color .1s, background-color .1s;
  -o-transition: color .1s, background-color .1s;
  transition: color .1s, background-color .1s;
  color: #0E58F5;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #0B348B;
    text-decoration: none; }

.typeset p a, .typeset li a {
  background-image: -webkit-linear-gradient(top, transparent 50%, #709cf9 50%);
  background-image: -moz-linear-gradient(top, transparent 50%, #709cf9 50%);
  background-image: -o-linear-gradient(top, transparent 50%, #709cf9 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #709cf9 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #FCFCFC, 0.15rem 0 #FCFCFC, -0.1rem 0 #FCFCFC, -0.15rem 0 #FCFCFC; }
  .typeset p a:hover, .typeset p a:active, .typeset p a:focus, .typeset li a:hover, .typeset li a:active, .typeset li a:focus {
    background-image: -webkit-linear-gradient(top, transparent 50%, #1257ea 50%);
    background-image: -moz-linear-gradient(top, transparent 50%, #1257ea 50%);
    background-image: -o-linear-gradient(top, transparent 50%, #1257ea 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #1257ea 50%); }
.typeset p {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem; }
  @media screen and (min-width: 40em) {
    .typeset p {
      margin-bottom: 1.4007rem;
      padding-top: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    .typeset p {
      margin-bottom: 1.39599rem;
      padding-top: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    .typeset p {
      margin-bottom: 1.38823rem;
      padding-top: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    .typeset p {
      margin-bottom: 1.3821rem;
      padding-top: 0.6179rem; } }
.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #2E2E2E;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700; }
.typeset h1, .typeset .alpha {
  line-height: 3rem;
  font-size: 2.33333rem;
  margin-bottom: 0.25832rem;
  padding-top: 0.74168rem; }
  @media screen and (min-width: 40em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.14286rem;
      margin-bottom: 0.19642rem;
      padding-top: 0.80358rem; } }
  @media screen and (min-width: 50em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.13333rem;
      margin-bottom: 0.19332rem;
      padding-top: 0.80668rem; } }
  @media screen and (min-width: 64em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.35294rem;
      margin-bottom: 0.2647rem;
      padding-top: 0.7353rem; } }
  @media screen and (min-width: 100em) {
    .typeset h1, .typeset .alpha {
      font-size: 2.63158rem;
      margin-bottom: 0.35525rem;
      padding-top: 0.64475rem; } }
.typeset h2, .typeset .beta {
  line-height: 3rem;
  font-size: 2.08333rem;
  margin-bottom: 0.17707rem;
  padding-top: 0.82293rem; }
  @media screen and (min-width: 40em) {
    .typeset h2, .typeset .beta {
      font-size: 1.9rem;
      margin-bottom: 0.11749rem;
      padding-top: 0.88251rem; } }
  @media screen and (min-width: 50em) {
    .typeset h2, .typeset .beta {
      font-size: 1.87333rem;
      margin-bottom: 0.10882rem;
      padding-top: 0.89118rem; } }
  @media screen and (min-width: 64em) {
    .typeset h2, .typeset .beta {
      font-size: 2.08824rem;
      margin-bottom: 0.17867rem;
      padding-top: 0.82133rem; } }
  @media screen and (min-width: 100em) {
    .typeset h2, .typeset .beta {
      font-size: 2.31053rem;
      margin-bottom: 0.25091rem;
      padding-top: 0.74909rem; } }
.typeset h3, .typeset .gamma {
  line-height: 3rem;
  font-size: 1.86667rem;
  margin-bottom: 0.10666rem;
  padding-top: 0.89334rem; }
  @media screen and (min-width: 40em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.71429rem;
      margin-bottom: 0.05713rem;
      padding-top: 0.94287rem; } }
  @media screen and (min-width: 50em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.70667rem;
      margin-bottom: 0.05466rem;
      padding-top: 0.94534rem; } }
  @media screen and (min-width: 64em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.76471rem;
      margin-bottom: 0.07352rem;
      padding-top: 0.92648rem; } }
  @media screen and (min-width: 100em) {
    .typeset h3, .typeset .gamma {
      font-size: 1.85789rem;
      margin-bottom: 0.10381rem;
      padding-top: 0.89619rem; } }
.typeset h4, .typeset .delta {
  line-height: 2rem;
  font-size: 1.66667rem;
  margin-bottom: -0.45834rem;
  padding-top: 0.45834rem; }
  @media screen and (min-width: 40em) {
    .typeset h4, .typeset .delta {
      font-size: 1.52143rem;
      margin-bottom: -0.50555rem;
      padding-top: 0.50555rem; } }
  @media screen and (min-width: 50em) {
    .typeset h4, .typeset .delta {
      font-size: 1.5rem;
      margin-bottom: -0.51251rem;
      padding-top: 0.51251rem; } }
  @media screen and (min-width: 64em) {
    .typeset h4, .typeset .delta {
      font-size: 1.57059rem;
      margin-bottom: -0.48957rem;
      padding-top: 0.48957rem; } }
  @media screen and (min-width: 100em) {
    .typeset h4, .typeset .delta {
      font-size: 1.63684rem;
      margin-bottom: -0.46804rem;
      padding-top: 0.46804rem; } }
.typeset h5, .typeset .epsilon {
  line-height: 2rem;
  font-size: 1.49167rem;
  margin-bottom: -0.51522rem;
  padding-top: 0.51522rem; }
  @media screen and (min-width: 40em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.37143rem;
      margin-bottom: -0.5543rem;
      padding-top: 0.5543rem; } }
  @media screen and (min-width: 50em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.36667rem;
      margin-bottom: -0.55584rem;
      padding-top: 0.55584rem; } }
  @media screen and (min-width: 64em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.32353rem;
      margin-bottom: -0.56986rem;
      padding-top: 0.56986rem; } }
  @media screen and (min-width: 100em) {
    .typeset h5, .typeset .epsilon {
      font-size: 1.31579rem;
      margin-bottom: -0.57238rem;
      padding-top: 0.57238rem; } }
.typeset h6, .typeset .zeta {
  line-height: 2rem;
  font-size: 1.33333rem;
  margin-bottom: -0.56668rem;
  padding-top: 0.56668rem; }
  @media screen and (min-width: 40em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.21429rem;
      margin-bottom: -0.60537rem;
      padding-top: 0.60537rem; } }
  @media screen and (min-width: 50em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.2rem;
      margin-bottom: -0.61001rem;
      padding-top: 0.61001rem; } }
  @media screen and (min-width: 64em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.17647rem;
      margin-bottom: -0.61766rem;
      padding-top: 0.61766rem; } }
  @media screen and (min-width: 100em) {
    .typeset h6, .typeset .zeta {
      font-size: 1.15789rem;
      margin-bottom: -0.62369rem;
      padding-top: 0.62369rem; } }
.typeset ul, .typeset ol {
  line-height: 2rem;
  margin-bottom: 1.43999rem;
  padding-top: 0.56001rem; }
  @media screen and (min-width: 40em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.4007rem;
      padding-top: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.39599rem;
      padding-top: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.38823rem;
      padding-top: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    .typeset ul, .typeset ol {
      margin-bottom: 1.3821rem;
      padding-top: 0.6179rem; } }
  .typeset ul li, .typeset ol li {
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-left: 2rem; }
    @media screen and (min-width: 40em) {
      .typeset ul li, .typeset ol li {
        margin-left: 0; } }
.typeset b, .typeset strong, .typeset .bold {
  font-weight: 700; }
.typeset em, .typeset i, .typeset .italic {
  font-style: italic; }
.typeset small, .typeset .caption {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.06667rem; }
  @media screen and (min-width: 40em) {
    .typeset small, .typeset .caption {
      font-size: 0.97143rem; } }
  @media screen and (min-width: 50em) {
    .typeset small, .typeset .caption {
      font-size: 0.96rem; } }
  @media screen and (min-width: 64em) {
    .typeset small, .typeset .caption {
      font-size: 0.88235rem; } }
  @media screen and (min-width: 100em) {
    .typeset small, .typeset .caption {
      font-size: 0.82105rem; } }
.typeset small {
  line-height: 1rem; }
.typeset .caption {
  color: #BDC8CC;
  line-height: 2rem;
  margin-bottom: 1.34666rem;
  padding-top: 0.65334rem; }
  @media screen and (min-width: 40em) {
    .typeset .caption {
      margin-bottom: 1.3157rem;
      padding-top: 0.6843rem; } }
  @media screen and (min-width: 50em) {
    .typeset .caption {
      margin-bottom: 1.31199rem;
      padding-top: 0.68801rem; } }
  @media screen and (min-width: 64em) {
    .typeset .caption {
      margin-bottom: 1.28675rem;
      padding-top: 0.71325rem; } }
  @media screen and (min-width: 100em) {
    .typeset .caption {
      margin-bottom: 1.26683rem;
      padding-top: 0.73317rem; } }
.typeset h1 + .caption, .typeset .alpha + .caption, .typeset h2 + .caption, .typeset .beta + .caption, .typeset h3 + .caption, .typeset .gamma + .caption {
  margin-top: -1rem; }
.typeset .delta + .caption, .typeset .epsilon + .caption, .typeset .zeta + .caption {
  margin-top: 0rem; }
.typeset blockquote p {
  border-left: 0.15rem solid #0E58F5;
  font-style: italic;
  padding-left: 1rem;
  margin-bottom: 1.87999rem;
  padding-bottom: 0.56001rem; }
  @media screen and (min-width: 40em) {
    .typeset blockquote p {
      margin-bottom: 1.80142rem;
      padding-bottom: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    .typeset blockquote p {
      margin-bottom: 1.79199rem;
      padding-bottom: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    .typeset blockquote p {
      margin-bottom: 1.77646rem;
      padding-bottom: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    .typeset blockquote p {
      margin-bottom: 1.7642rem;
      padding-bottom: 0.6179rem; } }
@media screen and (min-width: 40em) {
  .typeset blockquote {
    margin-left: -1rem; } }
.typeset hr {
  background-image: -webkit-gradient(linear, left top, left bottom, left, right);
  background-image: -webkit-linear-gradient(top, transparent 50%, #BDC8CC 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #BDC8CC 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  border: 0;
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem; }
.typeset code, .typeset pre {
  background-color: #F5F4F2;
  font-family: Menlo, monospace; }
.typeset pre {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }
.typeset code {
  line-height: 1rem;
  font-size: 1.06667rem; }
  @media screen and (min-width: 40em) {
    .typeset code {
      font-size: 0.97143rem; } }
  @media screen and (min-width: 50em) {
    .typeset code {
      font-size: 0.96rem; } }
  @media screen and (min-width: 64em) {
    .typeset code {
      font-size: 0.88235rem; } }
  @media screen and (min-width: 100em) {
    .typeset code {
      font-size: 0.82105rem; } }
.typeset .upper {
  letter-spacing: 0.1rem;
  text-transform: uppercase; }
.typeset .small-caps {
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
  -moz-font-feature-settings: 'smcp' 1, 'kern' 1;
  -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
  -o-font-feature-settings: 'smcp' 1, 'kern' 1;
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem; }
.typeset .lining-numerals {
  -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'lnum' 1, 'kern' 1;
  font-feature-settings: 'lnum' 1, 'kern' 1; }
.typeset .oldstyle-numerals {
  -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'onum' 1, 'kern' 1;
  -ms-font-feature-settings: 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'onum' 1, 'kern' 1;
  font-feature-settings: 'onum' 1, 'kern' 1; }

body {
  max-width: 63rem;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: " ";
    display: block;
    clear: both; }
