/* CONFIGURATION */
/* Bodytext font */
/* Font for headings */
/* Text colors */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

a img {
  border: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

*, *:before, *:after {
  box-sizing: border-box; }

/* IMPORT CSS FILES */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 75%; }
  @media screen and (min-width: 40em) {
    html {
      font-size: 87.5%; } }
  @media screen and (min-width: 50em) {
    html {
      font-size: 93.75%; } }
  @media screen and (min-width: 64em) {
    html {
      font-size: 106.25%; } }
  @media screen and (min-width: 100em) {
    html {
      font-size: 118.75%; } }

body {
  font-family: ff-tisa-web-pro, Georgia, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.33333rem; }
  @media screen and (min-width: 40em) {
    body {
      font-size: 1.21429rem; } }
  @media screen and (min-width: 50em) {
    body {
      font-size: 1.2rem; } }
  @media screen and (min-width: 64em) {
    body {
      font-size: 1.17647rem; } }
  @media screen and (min-width: 100em) {
    body {
      font-size: 1.15789rem; } }

a {
  -webkit-transition: color .1s, background-color .1s;
  transition: color .1s, background-color .1s;
  color: #0E58F5;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #0B348B;
    text-decoration: none; }

p a, li a {
  background-image: -webkit-linear-gradient(top, transparent 50%, #709cf9 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #709cf9 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #FCFCFC, 0.15rem 0 #FCFCFC, -0.1rem 0 #FCFCFC, -0.15rem 0 #FCFCFC; }
  p a:hover, p a:active, p a:focus, li a:hover, li a:active, li a:focus {
    background-image: -webkit-linear-gradient(top, transparent 50%, #1257ea 50%);
    background-image: linear-gradient(to bottom, transparent 50%, #1257ea 50%); }

p {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  line-height: 2rem;
  margin-bottom: 1.54666rem;
  padding-top: 0.45334rem; }
  @media screen and (min-width: 40em) {
    p {
      margin-bottom: 1.49785rem;
      padding-top: 0.50215rem; } }
  @media screen and (min-width: 50em) {
    p {
      margin-bottom: 1.49199rem;
      padding-top: 0.50801rem; } }
  @media screen and (min-width: 64em) {
    p {
      margin-bottom: 1.48234rem;
      padding-top: 0.51766rem; } }
  @media screen and (min-width: 100em) {
    p {
      margin-bottom: 1.47473rem;
      padding-top: 0.52527rem; } }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #2E2E2E;
  font-family: futura-pt, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700; }

h1, .alpha {
  line-height: 3rem;
  font-size: 2.33333rem;
  margin-bottom: 0.26999rem;
  padding-top: 0.73001rem; }
  @media screen and (min-width: 40em) {
    h1, .alpha {
      font-size: 2.14286rem;
      margin-bottom: 0.20713rem;
      padding-top: 0.79287rem; } }
  @media screen and (min-width: 50em) {
    h1, .alpha {
      font-size: 2.13333rem;
      margin-bottom: 0.20399rem;
      padding-top: 0.79601rem; } }
  @media screen and (min-width: 64em) {
    h1, .alpha {
      font-size: 2.35294rem;
      margin-bottom: 0.27646rem;
      padding-top: 0.72354rem; } }
  @media screen and (min-width: 100em) {
    h1, .alpha {
      font-size: 2.63158rem;
      margin-bottom: 0.36841rem;
      padding-top: 0.63159rem; } }

h2, .beta {
  line-height: 3rem;
  font-size: 2.08333rem;
  margin-bottom: 0.18749rem;
  padding-top: 0.81251rem; }
  @media screen and (min-width: 40em) {
    h2, .beta {
      font-size: 1.9rem;
      margin-bottom: 0.12699rem;
      padding-top: 0.87301rem; } }
  @media screen and (min-width: 50em) {
    h2, .beta {
      font-size: 1.87333rem;
      margin-bottom: 0.11819rem;
      padding-top: 0.88181rem; } }
  @media screen and (min-width: 64em) {
    h2, .beta {
      font-size: 2.08824rem;
      margin-bottom: 0.18911rem;
      padding-top: 0.81089rem; } }
  @media screen and (min-width: 100em) {
    h2, .beta {
      font-size: 2.31053rem;
      margin-bottom: 0.26246rem;
      padding-top: 0.73754rem; } }

h3, .gamma {
  line-height: 3rem;
  font-size: 1.86667rem;
  margin-bottom: 0.11599rem;
  padding-top: 0.88401rem; }
  @media screen and (min-width: 40em) {
    h3, .gamma {
      font-size: 1.71429rem;
      margin-bottom: 0.0657rem;
      padding-top: 0.9343rem; } }
  @media screen and (min-width: 50em) {
    h3, .gamma {
      font-size: 1.70667rem;
      margin-bottom: 0.06319rem;
      padding-top: 0.93681rem; } }
  @media screen and (min-width: 64em) {
    h3, .gamma {
      font-size: 1.76471rem;
      margin-bottom: 0.08234rem;
      padding-top: 0.91766rem; } }
  @media screen and (min-width: 100em) {
    h3, .gamma {
      font-size: 1.85789rem;
      margin-bottom: 0.1131rem;
      padding-top: 0.8869rem; } }

h4, .delta {
  line-height: 2rem;
  font-size: 1.66667rem;
  margin-bottom: -0.45001rem;
  padding-top: 0.45001rem; }
  @media screen and (min-width: 40em) {
    h4, .delta {
      font-size: 1.52143rem;
      margin-bottom: -0.49794rem;
      padding-top: 0.49794rem; } }
  @media screen and (min-width: 50em) {
    h4, .delta {
      font-size: 1.5rem;
      margin-bottom: -0.50501rem;
      padding-top: 0.50501rem; } }
  @media screen and (min-width: 64em) {
    h4, .delta {
      font-size: 1.57059rem;
      margin-bottom: -0.48172rem;
      padding-top: 0.48172rem; } }
  @media screen and (min-width: 100em) {
    h4, .delta {
      font-size: 1.63684rem;
      margin-bottom: -0.45985rem;
      padding-top: 0.45985rem; } }

h5, .epsilon {
  line-height: 2rem;
  font-size: 1.49167rem;
  margin-bottom: -0.50776rem;
  padding-top: 0.50776rem; }
  @media screen and (min-width: 40em) {
    h5, .epsilon {
      font-size: 1.37143rem;
      margin-bottom: -0.54744rem;
      padding-top: 0.54744rem; } }
  @media screen and (min-width: 50em) {
    h5, .epsilon {
      font-size: 1.36667rem;
      margin-bottom: -0.54901rem;
      padding-top: 0.54901rem; } }
  @media screen and (min-width: 64em) {
    h5, .epsilon {
      font-size: 1.32353rem;
      margin-bottom: -0.56325rem;
      padding-top: 0.56325rem; } }
  @media screen and (min-width: 100em) {
    h5, .epsilon {
      font-size: 1.31579rem;
      margin-bottom: -0.5658rem;
      padding-top: 0.5658rem; } }

h6, .zeta {
  line-height: 2rem;
  font-size: 1.33333rem;
  margin-bottom: -0.56001rem;
  padding-top: 0.56001rem; }
  @media screen and (min-width: 40em) {
    h6, .zeta {
      font-size: 1.21429rem;
      margin-bottom: -0.5993rem;
      padding-top: 0.5993rem; } }
  @media screen and (min-width: 50em) {
    h6, .zeta {
      font-size: 1.2rem;
      margin-bottom: -0.60401rem;
      padding-top: 0.60401rem; } }
  @media screen and (min-width: 64em) {
    h6, .zeta {
      font-size: 1.17647rem;
      margin-bottom: -0.61177rem;
      padding-top: 0.61177rem; } }
  @media screen and (min-width: 100em) {
    h6, .zeta {
      font-size: 1.15789rem;
      margin-bottom: -0.6179rem;
      padding-top: 0.6179rem; } }

ul, ol {
  line-height: 2rem;
  margin-bottom: 1.54666rem;
  padding-top: 0.45334rem; }
  @media screen and (min-width: 40em) {
    ul, ol {
      margin-bottom: 1.49785rem;
      padding-top: 0.50215rem; } }
  @media screen and (min-width: 50em) {
    ul, ol {
      margin-bottom: 1.49199rem;
      padding-top: 0.50801rem; } }
  @media screen and (min-width: 64em) {
    ul, ol {
      margin-bottom: 1.48234rem;
      padding-top: 0.51766rem; } }
  @media screen and (min-width: 100em) {
    ul, ol {
      margin-bottom: 1.47473rem;
      padding-top: 0.52527rem; } }
  ul li, ol li {
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-left: 2rem; }
    @media screen and (min-width: 40em) {
      ul li, ol li {
        margin-left: 0; } }
  ul ul, ul ol, ol ul, ol ol {
    margin-left: 2rem;
    padding-top: 0;
    margin-bottom: 0; }

b, strong, .bold {
  font-weight: 700; }

em, i, .italic {
  font-style: italic; }

small, .caption, .meta {
  font-family: futura-pt, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.06667rem; }
  @media screen and (min-width: 40em) {
    small, .caption, .meta {
      font-size: 0.97143rem; } }
  @media screen and (min-width: 50em) {
    small, .caption, .meta {
      font-size: 0.96rem; } }
  @media screen and (min-width: 64em) {
    small, .caption, .meta {
      font-size: 0.88235rem; } }
  @media screen and (min-width: 100em) {
    small, .caption, .meta {
      font-size: 0.82105rem; } }

small {
  line-height: 1rem; }

.caption, .meta {
  color: #BDC8CC;
  line-height: 2rem;
  margin-bottom: 1.35199rem;
  padding-top: 0.64801rem; }
  @media screen and (min-width: 40em) {
    .caption, .meta {
      margin-bottom: 1.32056rem;
      padding-top: 0.67944rem; } }
  @media screen and (min-width: 50em) {
    .caption, .meta {
      margin-bottom: 1.31679rem;
      padding-top: 0.68321rem; } }
  @media screen and (min-width: 64em) {
    .caption, .meta {
      margin-bottom: 1.29117rem;
      padding-top: 0.70883rem; } }
  @media screen and (min-width: 100em) {
    .caption, .meta {
      margin-bottom: 1.27094rem;
      padding-top: 0.72906rem; } }

.subtitle {
  line-height: 2rem;
  font-size: 1.49167rem;
  margin-bottom: -0.50776rem;
  padding-top: 0.50776rem;
  padding-bottom: 2rem; }
  @media screen and (min-width: 40em) {
    .subtitle {
      font-size: 1.37143rem;
      margin-bottom: -0.54744rem;
      padding-top: 0.54744rem; } }
  @media screen and (min-width: 50em) {
    .subtitle {
      font-size: 1.36667rem;
      margin-bottom: -0.54901rem;
      padding-top: 0.54901rem; } }
  @media screen and (min-width: 64em) {
    .subtitle {
      font-size: 1.32353rem;
      margin-bottom: -0.56325rem;
      padding-top: 0.56325rem; } }
  @media screen and (min-width: 100em) {
    .subtitle {
      font-size: 1.31579rem;
      margin-bottom: -0.5658rem;
      padding-top: 0.5658rem; } }

h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption {
  margin-top: -1rem; }

.delta + .caption, .epsilon + .caption, .zeta + .caption {
  margin-top: 0rem; }

@media screen and (min-width: 640px) {
  .meta + h1 {
    margin-top: -1rem; } }

blockquote p {
  border-left: 0.15rem solid #0E58F5;
  font-style: italic;
  padding-left: 1rem;
  margin-bottom: 2.09332rem;
  padding-bottom: 0.45334rem; }
  @media screen and (min-width: 40em) {
    blockquote p {
      margin-bottom: 1.9957rem;
      padding-bottom: 0.50215rem; } }
  @media screen and (min-width: 50em) {
    blockquote p {
      margin-bottom: 1.98399rem;
      padding-bottom: 0.50801rem; } }
  @media screen and (min-width: 64em) {
    blockquote p {
      margin-bottom: 1.9647rem;
      padding-bottom: 0.51766rem; } }
  @media screen and (min-width: 100em) {
    blockquote p {
      margin-bottom: 1.94946rem;
      padding-bottom: 0.52527rem; } }
@media screen and (min-width: 40em) {
  blockquote {
    margin-left: -1rem; } }

hr {
  background-image: -webkit-linear-gradient(top, transparent 50%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #eeeeee 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  border: 0;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem; }

code, pre {
  font-family: Menlo, monospace; }

pre {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

code {
  line-height: 1rem;
  font-size: 1.06667rem; }
  @media screen and (min-width: 40em) {
    code {
      font-size: 0.97143rem; } }
  @media screen and (min-width: 50em) {
    code {
      font-size: 0.96rem; } }
  @media screen and (min-width: 64em) {
    code {
      font-size: 0.88235rem; } }
  @media screen and (min-width: 100em) {
    code {
      font-size: 0.82105rem; } }

.upper, .meta {
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.fine-print {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  line-height: 2rem;
  font-size: 1.19167rem;
  margin-bottom: 1.48857rem;
  padding-top: 0.51143rem; }
  @media screen and (min-width: 40em) {
    .fine-print {
      font-size: 1.09286rem;
      margin-bottom: 1.44806rem;
      padding-top: 0.55194rem; } }
  @media screen and (min-width: 50em) {
    .fine-print {
      font-size: 1.08667rem;
      margin-bottom: 1.44552rem;
      padding-top: 0.55448rem; } }
  @media screen and (min-width: 64em) {
    .fine-print {
      font-size: 0.99412rem;
      margin-bottom: 1.40758rem;
      padding-top: 0.59242rem; } }
  @media screen and (min-width: 100em) {
    .fine-print {
      font-size: 0.92632rem;
      margin-bottom: 1.37978rem;
      padding-top: 0.62022rem; } }

.small-caps {
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
  -moz-font-feature-settings: 'smcp' 1, 'kern' 1;
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem; }

.lining-numerals {
  -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'lnum' 1, 'kern' 1;
  font-feature-settings: 'lnum' 1, 'kern' 1; }

.oldstyle-numerals {
  -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'onum' 1, 'kern' 1;
  font-feature-settings: 'onum' 1, 'kern' 1; }

.show-grid {
  background-image: -webkit-linear-gradient(top, rgba(150, 150, 150, 0.1) 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.1) 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem; }

.container:after, .social:after {
  content: "";
  display: table;
  clear: both; }

body {
  padding-top: 80px;
  padding-top: 5rem; }

a {
  color: #2077b2; }

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  width: 100%; }
  @media screen and (min-width: 40em) {
    img {
      margin: 0 auto;
      max-width: 100%;
      width: auto; } }

.container {
  margin: 0 auto;
  position: relative;
  width: 94%;
  max-width: 42rem; }

.large-gutter {
  margin: 0 6rem; }

@media screen and (max-width: 1000px) {
  .large-gutter {
    padding: 0;
    margin: 1rem 10%; } }

.shift-down {
  padding: 3rem 0; }

@media screen and (max-width: 720px) {
  .shift-down {
    padding: 2rem 0; } }

.navigation ul {
  list-style-type: none; }

.navigation--primary {
  height: 5rem;
  display: table-cell;
  vertical-align: middle; }
  .navigation--primary a {
    margin: 0 0.5rem; }
    .navigation--primary a:first-child {
      margin-left: 0; }

.navigation--secondary a {
  margin: 0 0.5rem; }

.masthead {
  position: absolute;
  height: 5rem;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  z-index: 100; }
  .masthead .container {
    max-width: none; }

.brand {
  font-family: futura-pt;
  font-weight: bold;
  text-transform: uppercase; }

.media-window {
  position: relative;
  height: 323px;
  height: 19rem;
  background-size: cover;
  background-position: center 40%;
  background-color: #333;
  overflow: hidden; }

.media-window__content {
  text-align: center;
  height: 100%;
  padding: 4rem 0 3rem;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%); }

.home .media-window__content {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, transparent 100%); }

.media-window__title, .media-window__subtitle, .media-window__colophon {
  color: white; }

@media screen and (min-width: 720px) {
  .media-window--large {
    height: 28rem; } }

.media-window__title {
  text-transform: uppercase; }

.media-window__subtitle, .media-window__colophon {
  display: none; }

@media screen and (min-width: 0em) {
  .media-window__subtitle {
    display: block; } }

@media screen and (min-width: 40em) {
  .media-window__colophon {
    display: block; } }

.content-block__header {
  position: relative; }
  .content-block__header:after {
    content: "";
    position: absolute;
    bottom: 0.4rem;
    display: block;
    width: 1.5em;
    height: 0.2rem;
    background: #ddd; }

.content-block__body .highlight {
  margin-left: -3%;
  margin-right: -3%; }
  .content-block__body .highlight pre {
    padding-left: 3%;
    padding-right: 3%; }

.meta address {
  display: inline; }

.social {
  position: relative;
  height: 2rem; }

.social--horizontal .social__button {
  height: 20px;
  width: 6rem;
  float: left;
  margin-left: 2rem; }
  .social--horizontal .social__button:first-child {
    margin-left: 0; }
  .social--horizontal .social__button > div {
    vertical-align: baseline !important; }

.fb_iframe_widget span {
  vertical-align: baseline !important; }

.media-object {
  text-align: center; }
  @media screen and (min-width: 600px) {
    .media-object {
      text-align: left; } }

.media-object__image {
  display: block;
  width: 8rem;
  margin: 1rem auto;
  border-radius: 100%; }
  @media screen and (min-width: 600px) {
    .media-object__image {
      float: left;
      width: 5rem;
      margin: 1rem 1rem 1rem 0; } }

.media-object .follow {
  margin-top: -1rem; }

.site-footer {
  padding: 4rem 0;
  margin: 4rem 0 0 0;
  color: #aaa;
  background: whitesmoke; }
  .site-footer a {
    color: #777; }
    .site-footer a:hover {
      color: #222; }
  .site-footer p {
    margin: -1rem 0 0; }
  @media screen and (min-width: 720px) {
    .site-footer nav {
      display: inline-block; } }
  @media screen and (max-width: 719px) {
    .site-footer {
      margin-top: 0;
      text-align: center; }
      .site-footer .navigation {
        margin: 1rem 0 0; } }

button, .btn {
  background: whitesmoke;
  color: white;
  border: 0;
  padding: 1rem;
  color: #aaa; }

/* Solarized Light 

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/
.highlight {
  background-color: #F2F2F2;
  color: #586e75; }

.highlight .lineno {
  color: #93a1a1; }

/* Line Numbers */
.highlight .c {
  color: #93a1a1; }

/* Comment */
.highlight .err {
  color: #586e75; }

/* Error */
.highlight .g {
  color: #586e75; }

/* Generic */
.highlight .k {
  color: #859900; }

/* Keyword */
.highlight .l {
  color: #586e75; }

/* Literal */
.highlight .n {
  color: #586e75; }

/* Name */
.highlight .o {
  color: #859900; }

/* Operator */
.highlight .x {
  color: #cb4b16; }

/* Other */
.highlight .p {
  color: #586e75; }

/* Punctuation */
.highlight .cm {
  color: #93a1a1; }

/* Comment.Multiline */
.highlight .cp {
  color: #859900; }

/* Comment.Preproc */
.highlight .c1 {
  color: #93a1a1; }

/* Comment.Single */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
.highlight .gd {
  color: #2aa198; }

/* Generic.Deleted */
.highlight .ge {
  color: #586e75;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #dc322f; }

/* Generic.Error */
.highlight .gh {
  color: #cb4b16; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #586e75; }

/* Generic.Output */
.highlight .gp {
  color: #586e75; }

/* Generic.Prompt */
.highlight .gs {
  color: #586e75;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #cb4b16; }

/* Generic.Subheading */
.highlight .gt {
  color: #586e75; }

/* Generic.Traceback */
.highlight .kc {
  color: #cb4b16; }

/* Keyword.Constant */
.highlight .kd {
  color: #268bd2; }

/* Keyword.Declaration */
.highlight .kn {
  color: #859900; }

/* Keyword.Namespace */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2; }

/* Keyword.Reserved */
.highlight .kt {
  color: #dc322f; }

/* Keyword.Type */
.highlight .ld {
  color: #586e75; }

/* Literal.Date */
.highlight .m {
  color: #2aa198; }

/* Literal.Number */
.highlight .s {
  color: #2aa198; }

/* Literal.String */
.highlight .na {
  color: #586e75; }

/* Name.Attribute */
.highlight .nb {
  color: #B58900; }

/* Name.Builtin */
.highlight .nc {
  color: #268bd2; }

/* Name.Class */
.highlight .no {
  color: #cb4b16; }

/* Name.Constant */
.highlight .nd {
  color: #268bd2; }

/* Name.Decorator */
.highlight .ni {
  color: #cb4b16; }

/* Name.Entity */
.highlight .ne {
  color: #cb4b16; }

/* Name.Exception */
.highlight .nf {
  color: #268bd2; }

/* Name.Function */
.highlight .nl {
  color: #586e75; }

/* Name.Label */
.highlight .nn {
  color: #586e75; }

/* Name.Namespace */
.highlight .nx {
  color: #586e75; }

/* Name.Other */
.highlight .py {
  color: #586e75; }

/* Name.Property */
.highlight .nt {
  color: #268bd2; }

/* Name.Tag */
.highlight .nv {
  color: #268bd2; }

/* Name.Variable */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
.highlight .w {
  color: #586e75; }

/* Text.Whitespace */
.highlight .mf {
  color: #2aa198; }

/* Literal.Number.Float */
.highlight .mh {
  color: #2aa198; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #93a1a1; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198; }

/* Literal.String.Char */
.highlight .sd {
  color: #586e75; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198; }

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16; }

/* Literal.String.Escape */
.highlight .sh {
  color: #586e75; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198; }

/* Literal.String.Other */
.highlight .sr {
  color: #dc322f; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198; }

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #2aa198; }

/* Literal.Number.Integer.Long */
.is-full-width {
  width: 100%; }

.desk {
  display: none; }
  @media screen and (min-width: 600px) {
    .desk {
      display: inline; } }

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
  -webkit-font-smoothing: antialiased; }
