.content-block {
}


.content-block__header,
.content-block__body,
.content-block__footer,
.content-block__aside {
  // @extend .section;
  // @include breakpoint(break-2) {
  //   padding-left: 8rem;
  // }
}

.content-block__header {
  position: relative;
  padding-bottom: 1rem;

  &:after {
    content: "";
    position: absolute;
    // bottom: 0.4rem;
    // bottom: -.15rem;
    bottom: 0rem;
    display: block;
    width: 1.5em;
    height: 0.2rem;
    background: #ddd;
  }
}

.content-block__header--group {
  padding-bottom: 2rem;
}

.content-block__body {
  .highlight {
    margin-left: -3%;
    margin-right: -3%;
    pre {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}

.content-block__footer {
  // border-top: .1rem solid #ddd;
  // border-bottom: .1rem solid #ddd;
  // box-shadow: inset 0 0 1px -1px #000000;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
}

// .content-block__aside {
//   padding-top: 1rem;
//   padding-bottom: 1rem;
// }

.content-block__aside {
  @extend %clearfix;
  hr {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  // margin-top: 1rem;
}

.content-block__aside + .content-block__aside {
  // margin-top: 1rem;
}

.inline-pullout {
  font-family: unquote(map-get($headingtype, font-family));
  font-style: normal;
  font-weight: map-get($headingtype, regular);

  font-weight:bold;

  @include fontsize(theta, all);

  @media screen and (max-width: 63.99em) {
    @include baseline(theta, $headingtype, 2,1, all);
  }

  span {
    @media screen and (min-width: 64em) {
      display: block;
    }
  }

  @media screen and (min-width: 64em) {
    position: absolute;
    left: 0;
    margin-top: 1rem;
    top: 0;
  }
}


.inline-pullout__el {
  display: inline-block;
  @include baseline(theta, $headingtype, 1,0, all);

  @extend .upper;
  // @extend .small-caps;
  // @extend .fine-print;
  // font-weight: bold;
  // letter-spacing: 0.05rem;
  letter-spacing: 0rem;

  @media screen and (min-width: 64em) {
    display: block;
  }
}

.inline-pullout__el--large {
  @media screen and (min-width: 64em) {

    @include fontsize(alpha, all);
    @include baseline(alpha, $headingtype, 2,0, all);

    // font-size: 4rem;
    // line-height: 3rem;
  }
}

.content-block__author {
  .seperator {
    &:last-child {
      margin-bottom: 2rem;
    }
    @include min-screen(640px) {
      padding-top: 1rem;
      padding-bottom: 1rem;

      &:first-child {
        margin-top: 1rem;
      }
    }
  }
  .fine-print {
    color: #848484;
  }
}
