.media-window {
  position: relative;

  height: 323px;
  height: 19rem;

  background-size: cover;
  background-position: center 40%;
  background-color: #333;

  overflow:hidden;

  // img { 
  //   display: block; 
  //   width: 100%;
  // }

  // &:after {
  //   content: '';
  //   background: inherit;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;

  //   filter: blur(25px);
  // }
}

.media-window__content {
  text-align: center;
  height:100%;
  padding: 4rem 0 3rem;

  // background-color: rgba(0,0,0,0.4);
  background-image: linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

.home .media-window__content {
  background-image: linear-gradient(bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
}

.media-window__title,
.media-window__subtitle,
.media-window__colophon {
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.media-window--large {
  @include min-screen(720px) {
    height: 28rem;

    .media-window__content {
      padding: 8rem 0 3rem;
    }
  }
}

.media-window__title {
  text-transform: uppercase;
}

.media-window__subtitle,
.media-window__colophon {
  display: none;
}

.media-window__subtitle {
  @include breakpoint(break-0) {
    display: block;
  }
}

.media-window__colophon {
  @include breakpoint(break-1) {
    display: block;
  }
}