.navigation {
  ul {
    list-style-type: none;
  }
}

.navigation--primary {
  height: 5rem;
  display: table-cell;
  vertical-align: middle;
  a { 
    margin: 0 0.5rem; 
    &:first-child {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
  .follow {
    position: relative;
    display: inline-block;
    margin: 0 0.5rem;
    a { display : none; }
    @extend .desk;
    @extend %cleafix;

    // overflow: hidden;
    
    width: 131px;
    height: 20px;
    // vertical-align: inherit;
    vertical-align: baseline;
    top: 4px;
    margin: 0 1rem;

    iframe {
      position: absolute;
      top: 0;
    }
  }
}

.navigation--secondary {
  a {
    margin: 0 0.5rem;
  }
}