
.index-item {
    position: relative;
    .inline-pullout {
      left: -8rem;
    }
}

.posts {
  &, ul { @extend %clearfix; }
  ul { list-style: none; }
}

.posts.current {
  //h3 -> h4
  .post__title {
    @extend .delta;
  }
}

.posts.archived {
  //h4 -> h5
  .post__title {
    @extend .epsilon;
  }
}
