.site-footer {
  padding: 4rem 0;
  margin: 4rem 0 0 0;

  color: #aaa;  
  background: whitesmoke;

  a {
    color: #777;
    &:hover {
      color: #222;
    }
  }

  p {
    margin: -1rem 0 0;
  }

  @include min-screen(720px) {
    nav {
      display: inline-block;
    }
  }

  @include max-screen(719px) {
    margin-top: 0;
    text-align: center;

    .navigation {
      margin: 1rem 0 0;
    }

  }
}
