// .container { @include container(52rem); }
.container {
  @extend %clearfix;

  margin: 0 auto;
  position: relative;
  width: 94%;

  max-width: 42rem;
}

.container--2col {

}

// .large-gutter {
//   margin: 0 6rem;
// }

// @include max-screen(1000px) {
//   .large-gutter {
//     padding: 0;
//     margin: 1rem 10%;
//   }
// }


@media screen and (min-width: 40em) {
  .container--2col {
    max-width: 39.28571rem;
  }
}
@media screen and (min-width: 50em) {
  .container--2col {
    max-width: 40rem;
  }
}
@media screen and (min-width: 64em) {
  .container--2col {
    max-width: 48rem;
  }
}
@media screen and (min-width: 100em) {
  .container--2col {
    max-width: 51.66667rem;
  }
}
@media screen and (min-width: 64em) {
  .container--2col {
    padding-left: 8rem;
  }
}
// @media screen and (min-width: 100em) {
//   .container--2col {
//     padding-left: 10rem;
//   }
// }

/**
 * Shifts down container on archive, post and page templates
 */

.shift-down {
  padding-top: 3rem;
  // padding-bottom: 3rem;
  // padding: 3rem 0;
}

@include max-screen(720px) {
  .shift-down {
    padding-top: 2rem;
    // padding-bottom: 2rem;
    // padding: 2rem 0;
  }
}

// .section {
//   margin: 0 auto;
//   position: relative;
//   width: 94%;
//   @include clearfix;

//   @include breakpoint(break-3) {
//     @include maxwidth(3);
//   }

//   @include breakpoint(break-4) {
//     @include maxwidth(4);
//   }
// }
