---
layout: base
page-class: page--post
---
{% if page.cover_image %}
<div class="media-window media-window--large is-full-width" style="background-image: url(/images/{{ page.cover_image }})">
</div>
{% endif %}
<article class="content-block shift-down">

  <div class="container">
    <header class="content-block__header {% if page.subtitle %} content-block__header--group {% endif %}">
      
      <div class="meta">
        By <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address> &mdash;
        <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
      </div>
      
      <h1 class="title">{{ page.title }}</h1>      
      
      {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      {% endif %}

    </header>

    <section class="content-block__body">
      {{ content }}
    </section>

    <aside class="content-block__aside">
      <hr>
      {% include _social.html %}
      <hr>
    </aside>

    <!--
    <footer class="content-block__footer">
      <address class="content-block__author media-object">
        <hr class="dark seperator seperator--tight">
        {% if page.author.image %}
          <img src="/images/gravatar.png" alt="Scotty Vernon" class="media-object__image">
        {% endif %}
        <div class="type-p">
          Written by <strong><a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author_name }}" target="_blank">{{ page.author.name }}</a></strong>
        </div>
        <div class="muted fine-print">{{ page.author.bio }}</div>
        
        {% include _follow_button.html %}

        <hr class="dark seperator seperator--tight">
      </address>
    </footer>
    -->

    {% if page.cover_copyright %}
    <section class="content-block__aside">
      <p class="muted fine-print cover-copyright">{{ page.cover_copyright }}</p>
    </section>
    {% endif %}

    {% if site.inc.disqus.shortname %}
    <section class="comments content-block__aside">
      {% include _disqus.html %}
    </section>
    {% endif %}
  </div>
</article>
